*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}

.link-group{
    list-style: none;
    display: flex;
}

 a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

 a:hover, .active a{
    opacity: 1;
}

.home-section{
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.hero-heading {
    font-size: 4.5rem;
    font-weight: 100;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #c46bb8, #f0edf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-heading span {
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, rgb(249, 253, 252), rgb(240, 237, 239));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.background-image {
    background-image: url("img/best3.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.home-img{
    position: absolute;
    top: 90;
    right: 0%;
    padding: 60px;
    height: 125vh;
    width: 40%;
    object-fit: cover;
    opacity: 0.7.3;
}

.home-section{
    position: fixed;
}

.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

/* Project Section Started */

.project-section {
    padding: 50px;
    text-align: center;
  }
  
  .project-heading {
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
  }
  
  .project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .project-card {
    width: 400px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .project-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .project-content {
    padding: 20px;
  }
  
  .project-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .project-info {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }

  .project-card {
    width: 400px;
    margin: 20px;
    background-color: #dbf7f6; /* Add your desired background color here */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .project-btn-grp {
    display: flex;
    justify-content: center;
  }
  
  .project-btn {
    padding: 10px 20px;
    margin: 0 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .project-btn.github {
    background-color: #33adc5;
  }
  
  .project-btn.live {
    background-color: #f67fd6;
  }
  
  .project-btn:hover {
    background-color: #d8e372;
  }
  
  

  .project-section {
    background-image: url("img/best9.avif");
    /* background-repeat: no-repeat; */
    background-position: center;
    padding: 50px;
  }
  
  



/* about section */

.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 35px;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.download-cv-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f3d88a;
    color: #8a1515;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    line-height: 2.3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 3.2cm;
  }
  
  .download-cv-btn:hover {
    background-color: #7ad4c5;
  }
  
  .download-cv-btn:active {
    background-color: #e7efe7;
  }
  
  
/* skills */


.skill-section{
    position: relative;
    margin: 100px 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skills-container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #ffffff;
}

.skill-card{
    position: relative;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
}

.skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}

.skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level{
    background: #ff4f4f28;
    border-color: #ff4f4f;
    color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level{
    background: #4fa0ff28;
    border-color: #4fa0ff;
    color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level{
    background: #ffed4f28;
    border-color: #ffed4f;
    color: #ffed4f;
}

.skill-card:nth-child(4) .skill-level{
    background: #52ff4f28;
    border-color: #52ff4f;
    color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level{
    background: #4fdfff28;
    border-color: #4fdfff;
    color: #4fdfff;
}


/* Education And Experiences */
.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;
}

.timeline .heading{
    margin-bottom: 150px;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -80px 0;
    position: relative;
    background: #f00;
}

.card:nth-child(even){
    margin-left: auto;
}

.card:nth-child(even):before{
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after{
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(odd):before{
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after{
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before{
    background: #ffa8B6;
}
.card:nth-child(3), .card:nth-child(3):before{
    background: #bac6e0;
}
.card:nth-child(4), .card:nth-child(4):before{
    background: #d6d063;
}
.card:nth-child(5), .card:nth-child(5):before{
    background: #565252;
}
.card:nth-child(6), .card:nth-child(6):before{
    background: #68cbd5;
}

.card:nth-child(even) .card-body:before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.about-section {
    background-image: url("img/best13.avif");
    /* background-repeat: no-repeat; */
    background-position: center;
    padding: 50px;
  }

/* contact */

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('img/best9.avif');
    background-size: cover;
    background-position: center;
  }
  
  .contact-section iframe {
    width: 450px;
    height: 800px;
    border: none;
    margin: 0;
  }
  
  
  